:root {
  --main-orange: rgb(255, 160, 0);
}
body {
  font-family: Arial;
  margin: 0;
  padding: 24px;
}

h1 {
  text-align: center;
  color: var(--main-orange);
}

.todo-container {
  max-width: 410px;
  margin: 0 auto;
  background: #d6f4f8;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.input-container {
  display: flex;
  justify-content: space-between;
  border-radius: 22px;
  background-color: #ff2;
}

.todo-input {
  border: none;
  padding: 16px;
  border-radius: 22px;
  width: 100%;
}
.todo-input:focus {
  outline: none;
}

#add-task-btn {
  border: none;
  padding: 15px;
  border-radius: 20px;
  background-color: var(--main-orange);
  color: #fff;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ff2;
  border-radius: 9px;
  margin-bottom: 7px;
}

.remove-btn {
  border-radius: 22px;
  padding: 12px 17px;
  border: none;
  background-color: var(--main-orange);
  color: #ff2;
}

.act-item.completed {
  text-decoration: line-through 2px var(--main-orange);
  opacity: 0.6;
}
